* {
	box-sizing: border-box !important;
}

body {
	background-color: #343d42;
	width: 35em;
	height: 32em;
	margin: 0 auto;
	padding: 0;
}

aside {
	display: block;
	color: white; 
	float: left;
	text-align: center;
	width: 5em; 
	background-color: #263238;
	height: 100%;
}

aside:after {
  	content: "";
  	display: table;
  	clear: both;
}

section {
	background-color: white;
	box-sizing: border-box;
	display: none;
	margin: 0 auto;
	padding: 0.5em 1em;
	width: calc(100% - 5em);
	height: 32em;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
}

aside ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

aside ul li {
	width: 100%;
	padding: 1.2em 0;
	cursor: pointer;
}

aside ul li:hover {
	background-color: #334046;
}

.spacer {
	height: 12em;
	background-color: #263238;
}

#exportTool{ display: none; }

.text-center {text-align: center;}
.text-right {text-align: right;}

.alert {
	background-color: orange;
	padding: 0.5em 1em;
	text-align: center;
	font-weight: 600;
	color: white;
}

textarea {
    resize: none;
}

.force-select-all {
	-webkit-user-select: all;
  	-moz-user-select: all;
  	-ms-user-select: all;
  	user-select: all;
}

ul#historyList {
	list-style: none;
	padding: 0;
}

ul#historyList li {
	border: 1px solid black;
	padding: 1em;
	border-bottom: none;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul#historyList li:hover {
	background-color: #e8e8e8;
}

ul#historyList li:last-child {
	border-bottom: 1px solid black;
}

header {
	background-color: #e67e22;
	text-align: center;
	color: white;
	overflow:auto;
}

button {
	border: 1px solid #263238;
	color: #263238;
	background-color: white;
	cursor: pointer;
	margin-right: 0.25em;
	padding: 0.5em 1em;
	text-decoration: none;
}

button:hover {
	background-color: grey;
	color: white;
	text-decoration: none;
}

input {
	padding: 0.5em 0;
	width: 100%;
}

input[type=checkbox] {
	margin: 0;
}

#getURLselectAll {
	cursor: pointer;
}

a,
a:active,
a:hover,
a:visited {
	color: #263238;
	text-decoration: underline
}

table {
	table-layout: fixed;
    width: 100%;  
}

th {
	background-color: white;
	color: #263238;
	font-weight: bold
}

th,
td {
	word-wrap: break-word;
	padding: 0.5em;
	border: 1px solid darkgray;
}

tr:hover {
	background-color: lightgrey;
}

code {
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: break-all;
}

::-webkit-scrollbar {
	height: 12px;
	width: 5px;
	background: #000
}

::-webkit-scrollbar-thumb {
	background: orange;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75)
}

::-webkit-scrollbar-corner {
	background: #000
}