body {
	width: 35em;
	margin: 0;
}

header {
	background-color: #e67e22;
	text-align: center;
	color: white;
	overflow:auto;
}

#changelog {
	padding: 1em;
	margin: 1em auto;
	height: 30em;
	width: 30em;
	border: 1px solid grey;
}

#changelog ul {
	padding: 1em;
}

#changelog h1 {
	text-align: center;
}

#changelog #close {
	text-align: right;
	padding: 0.5em;
	cursor: pointer;
}

.container{
	height: 24em;
	max-height: 25em;
	box-sizing: border-box;
	overflow:auto;
	margin: 1em;
}

footer {
	box-sizing: border-box;
	display: block;
	margin: 1em 1em 2em;
	color: #263238;
}

footer > p {
	padding-top: 0.5em
}

button {
	border: 1px solid #263238;
	color: #263238;
	background-color: white;
	cursor: pointer;
	margin-right: 0.25em;
	padding: 0.5em 1em;
	text-decoration: none;
}

button:hover {
	background-color: grey;
	color: white;
	text-decoration: none;
}

footer:after {
	clear: both;
}

input{
	padding: 0.5em 0;
	width: 100%;
}

input[type=checkbox]{
	margin: 0;
}

a,
a:active,
a:hover,
a:visited {
	color: #263238;
	text-decoration: underline
}

div#table {
	margin: 0 auto;
	width: 90%;
	max-height: 30em;
	min-height: 5em;
}

table {
	table-layout: fixed;
    width: 100%;  
	margin-bottom: 1em;
	border: none;
}

th {
	background-color: white;
	color: #263238;
	font-weight: bold
}

th,
td {
	word-wrap: break-word;
	padding: 0.5em;
	border: 1px solid darkgray;
}

tr:hover {
	background-color: lightgrey;
}

#preview{
	background-color: orange;
	font-weight: bold;
}

code {
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: break-all;
}

::-webkit-scrollbar {
	height: 12px;
	width: 5px;
	background: #000
}

::-webkit-scrollbar-thumb {
	background: orange;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75)
}

::-webkit-scrollbar-corner {
	background: #000
}