body {
	background-color: #263238;
	width: 20em;
	color: white;
}

h3 {
	text-align: center;
}

button {
	margin: 1em 0;
	margin-left: 1em;
	border: none;
	color: #263238;
	background-color: white;
	cursor: pointer;
	padding: 0.5em 1em;
}

button:hover {
	background-color: grey;
	color: white;
}

a,
a:active,
a:hover,
a:visited {
	color: white;
	text-decoration: underline;
}

table {
	width: 100%;
	margin-bottom: 1em;
	border: none;
}

th {
	background-color: white;
	color: #263238;
	font-weight: bold;
}

th,
td {
	padding: 0.5em;
	border: 1px solid darkgray;
}